@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap:100,200,300,400,500,600,700,800|Lato:100,200,300,400,500,600,700,800');

/*-----------------------------header*/
.padding-adjustment {
    padding: 0;
}

.relative {
    position: relative;
}

.hero-banner {
    background: url("../images/Dark side of the moon.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
} 


.sign-up {
    background-color: #A204FF;
    font-family: "Rubik", sans-serif;
    color: black;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
} 

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 18px;
}

.menuitem {
    height: 80px;
    text-align: center;
}

.menuitem a {
    text-decoration: none;
    color: black;
    height: 80px;
}

.menuitem a i {
    padding-top: 15px;
    display: block;
    color: black;
    font-size: 24px;
}
.menuitem span {
    padding-top: 5px;
    font-family: "Rubik", sans-serif;
    width: 100%;
    font-weight: 300;
}

.inline-block {
    display: inline;
} 

/*---------------------General*/

.storyboard {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.storyboard a {
    text-decoration: none;
}

.storyboard h4 {
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    width: 100%;
    font-weight: 300;
    color: black;
    text-align: center;
}

.storyboard blockquote {
    text-align: center;
    font-weight: 400;
}

.storyboard a:hover {
    color: rgba(rgb(90, 89, 89), green, blue, 0.25);
}

/*--------------------------Colours*/

.prism {
    background-color: #F12320;
    padding: 20px;
    background-image: linear-gradient(white, #F12320, #FC551A, #FCFF00, #4A7F02, #009BBE, #A204FF, white);
}

.bg-colour-home {
    background-color: #F12320;
}

.bg-colour-band {
    background-color: #FC551A;
}

.bg-colour-music {
    background-color: #FCFF00;
}

.bg-colour-shop {
    background-color: #4A7F02;
}

.bg-colour-tours {
    background-color: #009BBE;
}

.bg-colour-sign-up {
    background-color: #A204FF;
}

.dark-side-of-the-moon {
    background-color: #F12320;
    padding: 20px;
    background-image: linear-gradient(white, #F12320, white);
}

.echoes {
    background-color: #A204FF;
    padding: 20px;
    background-image: linear-gradient(white, #A204FF, white);
}

.wish-you-were-here {
    background-color:  #FC551A;
    padding: 20px;
    background-image: linear-gradient(white,#FC551A,white);
}

.the-wall {
    background-color: #FCFF00;
    padding: 20px;
    background-image: linear-gradient(white,#FCFF00,white);
}

.animals {
    background-color:#4A7F02;
    padding: 20px;
    background-image: linear-gradient(white,#4A7F02,white);
}

.division-bell {
    background-color: #009BBE;
    padding: 20px;
    background-image: linear-gradient(white,#009BBE,white);
}

.main-background {
    background-image: url("../images/PF-Jumbotron.png");
}

.jumbotron {
    background-image: url("../images/PF-Jumbotron.png");
}

.btn-success {
    background-color:#4A7F02;
    color: black;
}

/*------------------------Jumbotron*/

.store-reminder {
    background-image: url("../images/PF-Jumbotron.png");
    text-align: center;
    max-height: 150px;
    padding-bottom: 15px;
}

.announcement {
    text-align: center;
    display: inline;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

/*------------------------Footer*/

.footer {
    margin: 0;
    min-height: 100px;
    background-color: #302e2e;
    position: relative;
    display: block;
}

.text-decoration {
    padding-top: 15px;
    font-family: "Rubik";
    font-weight: 400;
    color: #fafafa;
    text-align: left;
    max-width: 300px;
}

.text-decoration p {
    font-size: 14px;
}

.social-icons {
    padding-bottom: 50px;
}

.social-icons li {
    padding: 5px;
    margin-top: 39px;
}

.social-icons li a i {
    color: #fafafa;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 35px;
    font-size: 14px;
    text-align: left;
}
.album-icons {
    padding-bottom: 10px;
}

.album-icons li {
    padding: 0;
    margin-top: 9px;
}

.album-icons li a i {
    color: black;
    width: 55px;
    height: 55px;
    padding: 0;
    border-radius: 35px;
    font-size: 24px;
    text-align: left;
}

.album-heading {
    padding-bottom: 10px;
    padding-top: 2px;
    letter-spacing: 3px;
    text-align: center;
}

.band-members {
    padding-left: 20px;
    padding-right: 20px;
}

.band-members  {
    padding-left: 20px;
    padding-right: 20px;
}

.text-quotes {
    padding-bottom: 5px;
    font-family: "Rubik";
    font-weight: 300;
    color: black;
    text-align: left;
    text-transform: none;
    font-size: 14px;
}
   
@media (max-width: 992px) {
    .media {
        display: block;
    }

    blockquote li a {
        display: inline;
    }

}


     