@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap:100,200,300,400,500,600,700,800|Lato:100,200,300,400,500,600,700,800');

/*-----------------------------header*/
.padding-adjustment {
    padding: 0;
}

.relative {
    position: relative;
}

.hero-banner {
    background: url("../images/Dark side of the moon.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
} 


.sign-up {
    background-color: #A204FF;
    font-family: "Rubik", sans-serif;
    color: black;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
} 

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 18px;
}

.menuitem {
    height: 80px;
    text-align: center;
}

.menuitem a {
    text-decoration: none;
    color: black;
    height: 80px;
}

.menuitem a i {
    padding-top: 15px;
    display: block;
    color: black;
    font-size: 24px;
}
.menuitem span {
    padding-top: 5px;
    font-family: "Rubik", sans-serif;
    width: 100%;
    font-weight: 300;
}

.inline-block {
    display: inline;
} 

/*---------------------General*/

.storyboard {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.storyboard a {
    text-decoration: none;
}

.storyboard h4 {
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    width: 100%;
    font-weight: 300;
    color: black;
}

.storyboard a:hover {
    color: rgba(rgb(90, 89, 89), green, blue, 0.25);
}

.image-clean {
    width: 300;
    height: 300;
    border-radius: 50%;
}

/*--------------------------Colours*/

.bg-colour-home {
    background-color: #F12320;
}

.bg-colour-band {
    background-color: #FC551A;
}

.band-border {
    border-color: #FC551A;
    padding: 25px;
    border-radius: 5px;
}

.bg-colour-music {
    background-color: #FCFF00;
}

.music-border {
    border-color: #FCFF00;
    padding: 25px;
    border-radius: 5px;
}

.bg-colour-shop {
    background-color: #4A7F02;
}

.shop-border {
    border-color:#4A7F02;
    padding: 25px;
    border-radius: 5px;

}

.bg-colour-tours {
    background-color: #009BBE;
}

.tours-border {
    padding: 25px;
    border-color: #009BBE;
    border-radius: 5px;
}

.bg-colour-sign-up {
    background-color: #A204FF;
}

.sign-up-border {
    padding: 25px;
    border-color: #A204FF;
    border-radius: 5px;
}

/*------------------------Footer*/

.footer {
    margin: 0;
    min-height: 100px;
    background-color: #302e2e;
    position: relative;
    display: block;
}

.text-decoration {
    padding-top: 15px;
    font-family: "Rubik";
    font-weight: 400;
    color: #fafafa;
    text-align: left;
    max-width: 300px;
}

.text-decoration p {
    font-size: 14px;
}

.social-icons {
    padding-bottom: 50px;
}

.social-icons li {
    padding: 5px;
    margin-top: 39px;
}

.social-icons li a i {
    color: #fafafa;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 35px;
    font-size: 14px;
    text-align: left;
}